body{
    font-family: 'Roboto', sans-serif;
}

.custom-nv {
    padding-left: 4rem !important;
}

.custom-nv li a {
    margin-right: 2rem;
}
.font {
    font-size: 4.5rem;
    color: white !important;
}
.bg-imges {
    filter: brightness(55%);
}
.height-img img {
    height: 100vh !important;
}
/* carosal end  */

/* courses start */
.courses{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}